
body{
    height: 500px;
}
#btn{
    border-radius: 5px;
    width: 10%;
    height: 50px;
    border: 0;
    color: rgb(0, 0, 0);
    background-color:rgb(141, 77, 87) ;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
}
#btn:hover{
    opacity: 0.7;
}

#content,#Price{
text-align: center;
}
.row .card{
    background-color: rgb(255, 246, 246);
}
li[price]{
    font-weight: 600;
}

.list li{
    /* display: inline-flex;
    justify-content: space-between;
    flex-direction: column; */
    list-style: none;
    /* border: 2px solid black; */
    margin:10px 80px;
}
.li-img{
    width: 150px;
    height: 200px;
    margin: 50px 26px;
    border-radius: 10px;
}
h5,p{
    text-align: center;
}
.container{
    width: 100%;
    margin: auto ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
}
.list li:hover{
    transition: 0.5s ease ;
    width:200px;
    transform: scale(1.1);
    
}